body {
    background-color: #090d1f;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
header {
    width: 1440px;
    height: 125px;
    padding-top: 30px;
    padding-right: 112px;
    padding-bottom: 30px;
    padding-left: 112px;
    gap: 10px; 
}
nav {
    width: 1216px;
    height: 65px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    color: #ffffff;
}
.navbar {
    background-color: #090d1f;
    font-family: 'Inter', sans-serif;
}
.nav-link:hover {
    color: #ffffff;
    text-decoration: underline !important;
    font-weight: bold;
}
.titulo {
    width: 1440px;
    height: 355px;
    top: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px; 
}
.titulo2 {
    width: 1216px;
    height: 295px;
    border-top: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    gap: 260px;
}
h1 {
    width: 1220px;
    height: 295px;
    font-weight: 700;
    font-size: 243.8px;
    line-height: 295.05px;
}
.cont1 {
    width: 1440px;
    height: 556px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 64px;
}
.cont2 {
    width: 1280px;
    height: 496px;
    padding-right: 32px;
    padding-left: 32px;
    gap: 32px;
}

