body {
    background-color: #090d1f;
    font-family: 'Inter', sans-serif;
    color: #ffffff;
}
header {
    width: 1440px;
    height: 125px;
    padding-top: 30px;
    padding-right: 112px;
    padding-bottom: 30px;
    padding-left: 112px;
    gap: 10px; 
}
nav {
    width: 1216px;
    height: 65px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    color: #ffffff;
}
.navbar {
    background-color: #090d1f;
    font-family: 'Inter', sans-serif;
}
.nav-link:hover {
    color: #ffffff;
    text-decoration: underline !important;
    font-weight: bold;
}
.titulo {
    width: 1440px;
    height: 355px;
    top: 120px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 50px; 
}
.titulo2 {
    width: 1216px;
    height: 295px;
    border-top: solid #ffffff 1px;
    border-bottom: solid #ffffff 1px;
    gap: 260px;
}
h1 {
    width: 1220px;
    height: 295px;
    font-weight: 700;
    font-size: 243.8px;
    line-height: 295.05px;
}
h2 {
    font-weight: 600px;
    font-size: 24px;
    line-height: 32px;
}
h5 {
    font-weight: 600px;
    font-size: 14px;
    line-height: 20px;
    color: #6941c6;
    margin-top: 1rem;
}
h6 {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    border-radius: 3rem;
    font-weight: 500px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.h6-1 {
    color: #6941C6;
    background-color: #F9F5FF;
}
.h6-2 {
    color: #3538CD;
    background-color: #EEF4FF;
}
.h6-3 {
    color : #C11574;
    background-color: #FDF2FA;
}
.h6-4 {
    color: #026AA2;
    background-color: #F0F9FF;
}
.h6-5 {
    color: #027A48;
    background-color: #ECFDF3;
}
.h6-6 {
    background-color: #f8f9fc;
    color: #363F72;
}
.cont1 {
    width: 1440px;
    height: 556px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 64px;
}
.cont2 {
    width: 1280px;
    height: 496px;
    padding-right: 32px;
    padding-left: 32px;
    gap: 32px;
}
.f1 {
    width: 592px;
    height: 228px;
}
.f2 , .f3 {
    width: 320px;
    height: 200px;
}
.f4 {
    width: 592px;
    height: 246px;
}
.f5 {
    width: 384px;
    height: 240px;
}